<article class="">

  <header><h1>Autopay Landing Page</h1></header>

  <section>


 	<!-- Temporary User Information Display -->
 	<div>
	 	<h3>Full Name: {{ localUser.Name }}</h3>
	 	<p>Coinbase Customer ID: {{ localUser.CustomerId }}</p>
	 	<p>Current Access Token: {{ localUser.AccessToken }}</p>
	 	<p>Primary Account Balance (BTC): {{ localUser.PrimaryAccount.btcAmount }}</p>
	 	<p>Primary Account Balance (USD): {{ localUser.PrimaryAccount.usdAmount }}</p>
 	</div>

		<!-- Transactions History Layout -->
    <div ng-repeat="transaction in transactions">
      <!-- <a href="#/songs/{{ song.id }}">{{ song.name }}</a> -->
      <!-- <a href="#/songs/new">Create New Song</a> -->
      <div>{{ transaction.created_at }}</div>
      <div>{{ transaction.details.subtitle }}</div>
      <div>{{ transaction.description }}</div>
      <div>{{ transaction.native_amount.amount }} {{ transaction.native_amount.currency }}</div>
    </div>


 	<button ng-click="requestInfo(localUser.AccessToken)">Request Info</button>
 	<button ng-click="requestAccounts(localUser.AccessToken)">Request Accounts</button>
 	<button ng-click="requestScopes(localUser.AccessToken)">Request Scopes</button>
 	<button ng-click="testTransaction(localUser.AccessToken)">Test Transaction (TC to BH)</button>

  </section>

</article>