<!-- End of paste -->
<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Blockchain Autopay Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
<!--     <div class="row">
        
        <stats number="6" comments="New comments!" colour="primary" type="comments"></stats>
        <stats number="12" comments="New tasks!" colour="primary" type="user"></stats>
        <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>

    </div>
     -->
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Autopays
                </div>
                <!-- /.panel-heading -->

                <!-- NO TIMELINE -->
                <!-- <timeline></timeline> -->
                
                <!-- INSERT AUTOPAY DIRECTIVE HERE -->
                <!-- <autopay></autopay> -->

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <i class="fa fa-credit-card fa-fw"></i> Transactions History
              </div>
              <!-- /.panel-heading -->
              <transactions></transactions> 
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->

          <!-- <chat></chat> -->
           <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>

<!-- old situation  -->
<article class="">

  <!-- <header><h1>Autopay Landing Page</h1></header> -->

  <section>

	 	<!-- Temporary User Information Display -->
	 	<div>
		 	<h3>Full Name: {{ localUser.Name }}</h3>
		 	<p>Coinbase Customer ID: {{ localUser.CustomerId }}</p>
		 	<p>Current Access Token: {{ localUser.AccessToken }}</p>
		 	<p>Primary Account Balance (BTC): {{ localUser.PrimaryAccount.btcAmount }}</p>
		 	<p>Primary Account Balance (USD): {{ localUser.PrimaryAccount.usdAmount }}</p>
	 	</div>
	 	<!-- <div>Transactions: {{ transactions }}</div> -->

			<!-- Transactions History Layout -->
<!-- 			<div>
		    <div ng-repeat="transaction in transactions">
		      <a href="#/songs/{{ song.id }}">{{ song.name }}</a>
		      <a href="#/songs/new">Create New Song</a>
		      <div>{{ transaction }}</div>
		      <h5>Transaction</h5>
		      <div>Created At: {{ transaction.created_at }}</div>
		      <div>Subtitle: {{ transaction.details.subtitle }}</div>
		      <div>Description: {{ transaction.description }}</div>
		      <div>Amount: {{ transaction.native_amount.amount }} {{ transaction.native_amount.currency }}</div>
		    </div>
	    </div> -->


	 	<button ng-click="requestInfo(localUser.AccessToken)">Request Info</button>
	 	<button ng-click="requestAccounts(localUser.AccessToken)">Request Accounts</button>
	 	<button ng-click="requestScopes(localUser.AccessToken)">Request Scopes</button>
	 	<button ng-click="testTransaction(localUser.AccessToken)">Test Transaction (TC to BH)</button>

  </section>

</article>
